*{
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing: border-box; */
}

input{
    outline:none;
}
.flex{
    display: flex;
}

.bg-primary{
    background-color: #2DAA9E;
}

.center-align{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}


.login-form {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    height: 60vh;
    margin: 10rem;
    justify-content: space-between;
    width: 35vw;
    padding: 1rem;
    font-family: "Montserrat";
    
}

.register-form{
    margin-top: 5em;
    background-color: #EAEAEA;
    width: 40vw;
    /* padding: 3em; */
    justify-content: space-between;
    font-family: "Montserrat"
}

.signup-header{
    margin-top: 1em;
    margin-bottom: 3em;
}

.signup-footer{
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: x-small;
}



.signup-button{
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #66D2CE;
    margin-top: 2em;
    font-family: "Montserrat";
    font-weight: 750;
    width: 50%;
}

.register-fields  li{
margin: 0.5em;
}

.register-fields input{
    height: 2rem;
    padding: 0.3rem;
}

.register-fields{
    flex-wrap: wrap;
    justify-content: space-around;
}

.login-header{
    height:5vh;
    background-color: #EAEAEA;
}

.login-header h3{
    text-align: center;
}

.login-form input{
    height: 3rem;
    padding: 0.3rem;

}

.login-form .signin-button{
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #66D2CE;
    margin: 0 3rem;
    font-family: "Montserrat";
    font-weight: 750;
    
    
}

.login-form p{
    font-size: 0.7em;
    text-align: center;
    color: #2DAA9E;
}

.login-form a{
    color: #2DAA9E;
}

.social-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.social-login .social-button{
    font-family: "Montserrat";
    height: 2.2rem;
    background-color: #66D2CE;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-weight: 750;
    
}

.google{
    flex-grow: 0.15;
}

.signin-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}

.social-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}

.signup-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}

input:focus{
     outline: 0.15rem solid grey;
}

@media (max-width: 820px){
    .login-form{
        font-size: 0.9em;
    }
    .signin-button{
        font-size: 0.5em;

    }
    .social-button{
        font-size: 0.5em;
    }
}

@media (max-width: 450px){

    .register-form{
        font-size: smaller;
    }
    .register-fields input{
        width: 9em;
    }
}