*{
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing: border-box; */
}

input{
    outline:none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.login-form {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    height: 60vh;
    margin: 10rem;
    justify-content: space-between;
    width: 25vw;
    padding: 1rem;
}

.login-header{
    height:5vh;
    background-color: #EAEAEA;
}

.login-header h3{
    text-align: center;
}

.login-form input{
    height: 3rem;
    padding: 0.3rem;

}

.login-form .signin-button{
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #2DAA9E;
    margin: 0 5rem;
    
}

.container .social-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-form input:focus{
     outline: 0.15rem solid grey;
}