/* --------------------------General Settings------------------------------- */

*{
    margin: 0;
    padding: 0;
    border: 0;
    /* box-sizing: border-box; */
    font-family: "Montserrat";
}

input{
    outline:none;
}
.flex{
    display: flex;
}

.bg-primary{
    background-color: #2DAA9E;
}

.bg-secondary{
    background-color: #EAEAEA;
}

.bg-neutral{
    background-color: #EAEAEA;
}

.center-align{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

input:focus{
    outline: 0.15rem solid grey;
}

.flex-grow{
    flex-grow: 1;
}

ul{
    list-style: none;
}

@media (max-width: 820px){
   .login-form{
       font-size: 0.9em;
   }
   .signin-button{
       font-size: 0.5em;
   }
   .social-button{
       font-size: 0.5em;
   }
}



/* --------------------------Register Page------------------------------- */

.register-form{
    margin-top: 5em;
    background-color: #EAEAEA;
    width: 40vw;
    /* padding: 3em; */
    justify-content: space-between;
}

.signup-header{
    margin-top: 1em;
    margin-bottom: 3em;
}

.signup-footer{
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: x-small;
}

.signup-button{
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #66D2CE;
    margin-top: 2em;
    font-weight: 750;
    width: 50%;
}

.register-fields  li{
margin: 0.5em;
}

.register-fields input{
    height: 2rem;
    padding: 0.3rem;
}

.register-fields{
    flex-wrap: wrap;
    justify-content: space-around;
}

.signup-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}

@media (max-width: 450px){

    .register-form{
        font-size: smaller;
    }
    .register-fields input{
        width: 9em;
    }
}



/* --------------------------Login Page------------------------------- */

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    height: 60vh;
    margin: 10rem;
    justify-content: space-between;
    width: 35vw;
    padding: 1rem;
    
}

.login-header{
    height:5vh;
    background-color: #EAEAEA;
}

.login-header h2{
    text-align: center;
}

.login-form input{
    height: 3rem;
    padding: 0.3rem;

}

.login-form .signin-button{
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #66D2CE;
    margin: 0 3rem;
    font-weight: 750;
}

.login-form p{
    font-size: 0.7em;
    text-align: center;
    color: #2DAA9E;
}

.login-form a{
    color: #2DAA9E;
}

.social-login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.social-login .social-button{
    height: 2.2rem;
    background-color: #66D2CE;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-weight: 750;
}

.google{
    flex-grow: 0.15;
}

.signin-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}

.social-button:hover{
    background-color: #AEEA94;
    color: #EAEAEA;
}


/* --------------------------Main Page------------------------------- */

.main-header{
    height: 15vh;
    align-items: center;
}

.sub-header{
    height: 7.5vh;
    align-items: center;
}

.actions{
    /* padding: 2em; */
    /* margin: 1em; */
    text-align: center;
    height: 85vh;
    padding-top: 1em;
}

.wallets{
    padding:0 2em;
    /* margin: 1em; */
    text-align: center;
    padding-top: 1em;
}

.action-button{
    background-color:#2DAA9E ;
    text-align: left;
    border-radius: 10px;
    margin: 1em 2em 1em 2em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.action-button:hover{
    background-color: #28FFBF;
}

.main-menu-container h2{
    color: black;
}

.logout-button{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 1rem;
    font-weight: bold;
}

.logout-button:hover{
    background-color: #EAEAEA;
    color: black;
}

.add-wallet-button{
    border-radius: 24px;
    color: white;
    font-weight: 900;
    background-color: #2DAA9E;
    padding: 0.8rem;
    font-size: larger;
    width: 3em;
}

.add-wallet-button:hover{
    background-color: #28FFBF;
}
